In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('cleaned_data.csv')
df.head()

         username                                              tweet
0    AlukoJoseph5  taking life long time sack strong proof activi...
1  omofuma_Elijah  even desmond elliot quite womans name look lik...
2   FelixOdohoedi  cbn freeze account cbn quick freeze account pp...
3        adekzee1  okay good one esn well coordinated work se sta...
4       AOkuntade  allow policemen victims injustice public appea...

In [3]:
len(df)

3396

In [4]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.cluster import KMeans

In [6]:
tweets = df['tweet'].values.astype('U')

In [9]:
vectorizer = TfidfVectorizer(stop_words='english')
features = vectorizer.fit_transform(tweets)

In [175]:
# k = 2
# model = KMeans(n_clusters = k, init= 'k-means++', max_iter=100, n_init=1)
# model.fit(features)

KMeans(max_iter=100, n_clusters=2, n_init=1)

In [12]:
df['label'] = models.labels

NameError: name 'models' is not defined

In [199]:
df.head()

          username                                              tweet  label
2704      Luvcheat  leave talk today way dey hear kind thing ke ht...      0
3180     AOK_BAWAL  hate see people loose livelihood hope dont hop...      0
2383        Zieojy  u said nigeria youths jobless rudderless maybe...      0
1393  sheyiihamedd  e go better entire generation shall know peace...      0
1799    FAkpotohwo  greatest error say mistake nigerian government...      0

In [209]:
df['label'].value_counts()

0    2384
1    1012
Name: label, dtype: int64

In [201]:
df[df['label']== 1]

,username,tweet,label
895,SundayT14449927,boy bring back staff watin youth gain protest ...,1
287,Eutopialove,without soldiers policemen soldiers part poor ...,1
1218,NnamdiFadason,dear nicola bring notice happened protesters l...,1
2790,gbadebo_dahunsi,im glad youths truly awake may never sleep slu...,1
677,OladipupoAZ,even though cannot forget soon due lost lifes ...,1
...,...,...,...
2210,_PreyOx,time around must oo cos dem nuh soro soke e go...,1
542,SJ_valama,fear britain pissing interfere cameroons affai...,1
1454,JamesBassil4,nigerian army killing unharmed citizens lagos ...,1
672,Ennison_Esq02,bottled coke safer plastic bottled coke argue ...,1
2151,Bellowasiu2,please tell wife children stuck lekki traffic ...,1

In [202]:
df[df['label']== 0]

          username                                              tweet  label
2704      Luvcheat  leave talk today way dey hear kind thing ke ht...      0
3180     AOK_BAWAL  hate see people loose livelihood hope dont hop...      0
2383        Zieojy  u said nigeria youths jobless rudderless maybe...      0
1393  sheyiihamedd  e go better entire generation shall know peace...      0
1799    FAkpotohwo  greatest error say mistake nigerian government...      0
...            ...                                                ...    ...
11          beylag  know soon choke hatered buhari totally lost se...      0
109      HarryOkoh  brother ears lawlessness guarantees well anoth...      0
2145   Okwydominic  man supritendent sars ukuzu anambra morderd 25...      0
1759   RamatuArome  whats court today judge couldnt make due road ...      0
1329   SambrightJr  government mess wrong generation told na go st...      0

[2384 rows x 3 columns]

In [210]:
df['label'] = df['label'].apply(lambda x: 'real news' if x == 0 else 'fake news')

In [211]:
df.head()

,username,tweet,label
0,AlukoJoseph5,taking life long time sack strong proof activi...,real news
1,omofuma_Elijah,even desmond elliot quite womans name look lik...,real news
2,FelixOdohoedi,cbn freeze account cbn quick freeze account pp...,real news
3,adekzee1,okay good one esn well coordinated work se sta...,real news
4,AOkuntade,allow policemen victims injustice public appea...,real news

In [215]:
df = df.sample(frac=1)
df.head()

,username,tweet,label
2261,yeinkharr,nothing wise say please keep quiet stop disgra...,fake news
2481,TPadez,heard igp dissolved unit president address sta...,real news
3296,DasheRobni,planting evidence understand trends mile even...,real news
492,ElephantofA,peaceful protest evil calling end police bruta...,fake news
517,Sanizo4,nigeria ranked 3rd terrorised country worldwid...,real news

In [216]:
# df.to_csv('data.csv', index=False)